<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GeekText</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
    <servlet-name>A</servlet-name>
    <servlet-class>Controller.userLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/userLoginController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>B</servlet-name>
    <servlet-class>Controller.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>C</servlet-name>
    <servlet-class>Controller.updateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>D</servlet-name>
    <servlet-class>Controller.addAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/addAddress</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>E</servlet-name>
    <servlet-class>Controller.addCreditCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E</servlet-name>
    <url-pattern>/addCreditCard</url-pattern>
  </servlet-mapping>

 

</web-app>
